<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="danger">
      Pokemons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

        <Ion-Searchbar placeholder="Filter Schedules"></Ion-Searchbar>
        <ion-list>
          <Ion-Item lines="full">
            <Ion-Thumbnail slot="start">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" />
            </Ion-Thumbnail>
            <Ion-Label>
              <div>
                <h3>Bulbasaur</h3>
                <Ion-Badge color="success">Grass</Ion-Badge>
                <ion-badge color="tertiary">Poison</ion-badge>
              </div>
            </Ion-Label>
            <ion-chip color="success">
              <ion-label>001</ion-label>
            </ion-chip>
          </Ion-Item>
          <Ion-Item lines="full">
            <Ion-Thumbnail slot="start">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" />
            </Ion-Thumbnail>
            <Ion-Label>
              <div>
                <h3>Charmander</h3>
                <Ion-Badge color="danger">Fire</Ion-Badge>
              </div>
            </Ion-Label>
            <ion-chip color="danger">
              <ion-label>002</ion-label>
            </ion-chip>
          </Ion-Item>
          <Ion-Item lines="full">
            <Ion-Thumbnail slot="start">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" />
            </Ion-Thumbnail>
            <Ion-Label>
              <div>
                <h3>Squirtle</h3>
                <Ion-Badge color="primary">Water</Ion-Badge>
              </div>
            </Ion-Label>
            <ion-chip color="primary">
              <ion-label>003</ion-label>
            </ion-chip>
          </Ion-Item>
          <Ion-Item lines="full">
            <Ion-Thumbnail slot="start">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" />
            </Ion-Thumbnail>
            <Ion-Label>
              <div>
                <h3>Pikachu</h3>
                <Ion-Badge color="warning">Electric</Ion-Badge>
              </div>
            </Ion-Label>
            <ion-chip color="warning">
              <ion-label>004</ion-label>
            </ion-chip>
          </Ion-Item>
          <Ion-Item lines="full">
            <Ion-Thumbnail slot="start">
              <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/037.png" />
            </Ion-Thumbnail>
            <Ion-Label>
              <div>
                <h3>Vulpix</h3>
                <Ion-Badge color="danger">Fire</Ion-Badge>
              </div>
            </Ion-Label>
            <ion-chip color="danger">
              <ion-label>005</ion-label>
            </ion-chip>
          </Ion-Item>
        </ion-list>

</ion-content>
